
<div class="mobile-menu-container" ng-class="{'menu-open': toggle}">
    <nav>
        <li ng-click="toggleDropSpeakers()">Speakers
            <div class="mobile-speakers-dropdown-container fade" ng-if="flag">
                <ul>
                    <li><a href=""><img ng-src="img/icons/A1.png"/></a>
                        <p>A1</p>
                    </li>
                    <li><a href=""><img ng-src="img/icons/A2_icon.png"/></a>
                        <p>A2</p>
                    </li>
                    <li><a href=""><img ng-src="img/icons/beolit15.png"/></a>
                        <p>Beolit 15</p>
                    </li>
                    <li><a href=""><img ng-src="img/icons/A6.png"/></a>
                        <p>A6</p>
                    </li>
                    <li><a href=""><img ng-src="img/icons/A8_icon.png"/></a>
                        <p>A8</p>
                    </li>
                    <li><a href=""><img ng-src="img/icons/A9_icon.png"/></a>
                        <p>A9</p>
                    </li>
                    <li><a href=""><img ng-src="img/icons/icon_S3.png"/></a>
                        <p>S3</p>
                    </li>
                    <li><a href=""><img ng-src="img/icons/S8_icon.png"/></a>
                        <p>S8</p>
                    </li>
                </ul>
            </div>
        </li>

        <li ng-click="toggleDropHeadphones()">Headphones
            <div class="mobile-headphones-dropdown-container fade" ng-if="flag2">
                <ul>
                    <li><a href=""><img ng-src="img/icons/h2.png"/></a>
                        <p>H2</p>
                    </li>
                    <li><a href=""><img ng-src="img/icons/h3.png"/></a>
                        <p>H3</p>
                    </li>
                    <li><a href=""><img ng-src="img/icons/h3_anc.png"/></a>
                        <p>H3 ANC</p>
                    </li>
                    <li><a href=""><img ng-src="img/icons/h5.png"/></a>
                        <p>H5</p>
                    </li>
                    <li><a href=""><img ng-src="img/icons/h6.png"/></a>
                        <p>H6</p>
                    </li>
                    <li><a href=""><img ng-src="img/icons/h7.png"/></a>
                        <p>H7</p>
                    </li>
                    <li><a href=""><img ng-src="img/icons/h8.png"/></a>
                        <p>H8</p>
                    </li>
                    <li><a href=""><img ng-src="img/icons/earset_icon.png"/></a>
                        <p>Earphones & Earset 31</p>
                    </li>
                    <li><a href=""><img ng-src="img/icons/form2_icon.png"/></a>
                        <p>Form 21</p>
                    </li>
                    <li><a href=""><img ng-src="img/icons/app.png"/></a>
                        <p>Beoplay App</p>
                    </li>
                </ul>
            </div>
        </li>

        <li>All Products</li>
        <li>The Journal</li>
    </nav>
