
<section class="collection-main-wrapper">
    <div class="collection-header-container">
        <div class="vertLine-top"></div>
        <h2>aw16 collection</h2>
        <h1>Escaping into Nature</h1>
    </div>

    <!-- DOT MENU FOR COLOR NAVIGATION HIDDEN BELOW 768PX -->
    <div class="sidebutton-menu-container">
        <a href="#" scroll-to="coalProduct">
            <div ng-mouseenter="coal=true" ng-mouseleave="coal=false" class="dot coalbg"></div>
        </a>
        <a href="#" scroll-to="deepredProduct">
            <div ng-mouseenter="deepred=true" ng-mouseleave="deepred=false"  class="dot deepredbg"></div>
        </a>
        <a href="#" scroll-to="cocoabrownProduct">
            <div ng-mouseenter="cocoa=true" ng-mouseleave="cocoa=false" class="dot cocoabg"></div>
        </a>
        <a href="#" scroll-to="mossgreenProduct">
            <div ng-mouseenter="mossgreen=true" ng-mouseleave="mossgreen=false" class="dot mossbg"></div>
        </a>
    </div>

        <!-- HIDDEN TEXT AND LINE FOR DOT HOVER -->
        <div ng-class="{dotShow: coal}" class="dot-text-box1">
            <div ng-class="{lineShow: coal}" class="line"></div>Black
        </div>
        <div ng-class="{dotShow: deepred}" class="dot-text-box2">
            <div ng-class="{lineShow: deepred}" class="line2"></div>Deep Red
        </div>
        <div ng-class="{dotShow: cocoa}" class="dot-text-box3">
            <div ng-class="{lineShow: cocoa}" class="line3"></div>Cocoa Brown
        </div>
        <div ng-class="{dotShow: mossgreen}" class="dot-text-box4">
            <div ng-class="{lineShow: mossgreen}" class="line4"></div>Moss Green
        </div>


    <div class="collection-intropic-container">
    </div>
    <div class="collection-aw16-container">
            <img class="collection-intro2pic" ng-src="../img/collection/intro2.jpg" parallax-pic-directive/>
        <div class="collection-aw16-topleft-container">
            <h6 class="collection-aw16-minititle">aw 16</h6>
            <h3 class="collection-aw16-paragraph">Let music help you escape. Dream yourself into vast landscapes of clean air and beautiful colours.</h3>
            <div class="vertLine-small"></div>
        </div>
        <div class="collection-aw16-middle-container">
            <p class="collection-aw16-middletext">A collection inspired by the colours found in the stark and untamed landscape of nordic nature</p>
        </div>
        <div class="collection-aw16-middlecircles-container">

            <div class="aw16-pic-container">
                <div class="color-hover-container">
                    <div class="color-hover coalbg"></div>
                        <img class="aw16-pic" ng-src="../img/collection/col1.jpg"/>
                </div>
                <p>Black</p>

            </div>
            <div class="aw16-pic-container">
                <div class="color-hover-container">
                    <div class="color-hover deepredbg"></div>
                    <img class="aw16-pic" ng-src="../img/collection/col2.jpg"/>
                </div>
                <p>Deep Red</p>
            </div>
            <div class="aw16-pic-container">
                <div class="color-hover-container">
                    <div class="color-hover cocoabg"></div>
                    <img class="aw16-pic" ng-src="../img/collection/col3.jpg"/>
                </div>
                <p>Cocoa Brown</p>
            </div>
            <div class="aw16-pic-container">
                <div class="color-hover-container">
                    <div class="color-hover  mossbg"></div>
                    <img class="aw16-pic" ng-src="../img/collection/col4.jpg"/>
                </div>
                <p>Moss Green</p>
            </div>
        </div>
        <div class="collection-intro2pic-container" >
            <p parallax-text-directive>SEYDISFJORDUR / N 65° 15' 47“ N, W 14° 0' 32“</p>
            <img class="collection-aw16-pic2" ng-src="../img/collection/black_1.jpg" parallax-pic2-directive/>
        </div>
        <div class="vertLine"></div>
    </div>

    <!-- COLLECTION A1 BLACK SECTION -->
    <div class="collection-a1black-bgpic">
    </div>
    <div class="speaker-hd-full-container">
        <div class="vertLine-small-top"></div>
        <h6>Black</h6>
        <img class="collection-swatches-images" ng-src="../img/collection/black_el.png"/>
        <!-- ID FOR SCROLL DOWN -->
        <h3 id="coalProduct">Inspired by the lava stone and black sand beaches of Nordic nature.</h3>
        <img class="collection-product-images-large" ng-src="../img/collection/a1black_hd.png" />
            <div class="speaker-hd-container">
                <p class="speaker-hd-title">Beoplay A1</p>
                <p class="speaker-hd-subtitle">Portable, Bluetooth Speaker</p>
                <p class="speaker-hd-price coalText">Usd 249</p>
                <div>
                    <button class="speaker-hd-btn btn-coal" type="button"><img ng-src="./img/buttons/white_eye.png"/>Experience</button>
                    <button class="speaker-hd-btn btn-coal" type="button"><img ng-src="./img/buttons/white_cart.png"/>Buy</button>
                </div>
            </div>
        <div class="vertLine-bottom"></div>
    </div>

    <!-- COLLECTION A1 DEEPRED SECTION -->
    <div class="collection-deepred-bgpic">
    </div>
    <div class="speaker-hd-full-container">
        <div class="vertLine-small-top"></div>
        <h6>Deep Red</h6>
        <img class="collection-swatches-images" ng-src="../img/collection/deepred_el.png"/>
        <!-- ID FOR SCROLL DOWN -->
        <h3 id="deepredProduct" class="deepredText">Inspired by the rich mineral clay of Nordic nature.</h3>
        <img class="collection-product-images-large" ng-src="../img/collection/a1_deepred_hd.png"/>
            <div class="speaker-hd-container">
                <p class="speaker-hd-title">Beoplay A1</p>
                <p class="speaker-hd-subtitle">Portable, Bluetooth Speaker</p>
                <p class="speaker-hd-price deepredText">Usd 249</p>
                <div>
                    <button class="speaker-hd-btn btn-deepred" type="button"><img ng-src="./img/buttons/white_eye.png"/>Experience</button>
                    <button class="speaker-hd-btn btn-deepred" type="button"><img ng-src="./img/buttons/white_cart.png"/>Buy</button>
                </div>
            </div>
        <div class="vertLine-bottom"></div>
    </div>

    <!-- COLLECTION A1 DEEPRED HEADPHONES SECTION -->
    <div class="collection-maroon-bgpic">
    </div>
    <div class="speaker-hd-full-container">
        <div class="vertLine-small-top"></div>
        <h6>Deep Red</h6>
        <img class="collection-swatches-images" ng-src="../img/collection/deepred_el2.png"/>
        <h3 class="deepredText">Inspired by the deep colours found in Nordic nature.</h3>
        <img class="collection-product-images-large" ng-src="../img/collection/h8_dr_hd.png"/>
            <div class="speaker-hd-container">
                <p class="speaker-hd-title">Beoplay A1</p>
                <p class="speaker-hd-subtitle">Portable, Bluetooth Speaker</p>
                <p class="speaker-hd-price deepredText">Usd 249</p>
                <div>
                    <button class="speaker-hd-btn btn-deepred" type="button"><img ng-src="./img/buttons/white_eye.png"/>Experience</button>
                    <button class="speaker-hd-btn btn-deepred" type="button"><img ng-src="./img/buttons/white_cart.png"/>Buy</button>
                </div>
            </div>
        <div class="vertLine-bottom"></div>
    </div>

    <!-- COLLECTION A1 COCOA SECTION -->
    <div class="collection-cocoa-bgpic">
    </div>
    <div class="speaker-hd-full-container">
        <div class="vertLine-small-top"></div>
        <h6>Cocoa Brown</h6>
        <img class="collection-swatches-images" ng-src="../img/collection/cocoa_el.png"/>
        <!-- ID FOR SCROLL DOWN -->
        <h3 id="cocoabrownProduct" class="cocoaText">Inspired by the textured soil and grass of Nordic nature.</h3>
        <img class="collection-product-images-large" ng-src="../img/collection/h7_cocoa_hd.png"/>
            <div class="speaker-hd-container">
                <p class="speaker-hd-title">Beoplay A1</p>
                <p class="speaker-hd-subtitle">Portable, Bluetooth Speaker</p>
                <p class="speaker-hd-price cocoaText">Usd 249</p>
                <div>
                    <button class="speaker-hd-btn btn-cocoa" type="button"><img ng-src="./img/buttons/white_eye.png"/>Experience</button>
                    <button class="speaker-hd-btn btn-cocoa" type="button"><img ng-src="./img/buttons/white_cart.png"/>Buy</button>
                </div>
            </div>
        <div class="vertLine-bottom"></div>
    </div>

    <!-- COLLECTION A1 MOSS SECTION -->
    <div class="collection-moss-bgpic">
    </div>
    <div class="speaker-hd-full-container">
        <div class="vertLine-small-top"></div>
        <h6>Moss Green</h6>
        <img class="collection-swatches-images" ng-src="../img/collection/moss_el.png"/>
        <!-- ID FOR SCROLL DOWN -->
        <h3 id="mossgreenProduct" class="mossText">Inspired by the texture soil and grass of Nordic nature.</h3>
        <img class="collection-product-images-large" ng-src="../img/collection/h5_moss_hd.png"/>
            <div class="speaker-hd-container">
                <p class="speaker-hd-title">Beoplay A1</p>
                <p class="speaker-hd-subtitle">Wireless Earphones</p>
                <p class="speaker-hd-price mossText">Usd 249</p>
                <div>
                    <button class="speaker-hd-btn btn-moss" type="button"><img ng-src="./img/buttons/white_eye.png"/>Experience</button>
                    <button class="speaker-hd-btn btn-moss" type="button"><img ng-src="./img/buttons/white_cart.png"/>Buy</button>
                </div>
            </div>
        <div class="vertLine-bottom"></div>
    </div>

    <!-- COLLECTION a6 MOSS SECTION -->
    <div class="speaker-hd-full-container">
        <h6>Moss Green</h6>
        <img class="collection-product-images-large" ng-src="../img/collection/a6_hd.png"/>
            <div class="speaker-hd-container">
                <p class="speaker-hd-title">Beoplay A1</p>
                <p class="speaker-hd-subtitle">Portable, Bluetooth Speaker</p>
                <p class="speaker-hd-price mossText">Usd 249</p>
                <div>
                    <button class="speaker-hd-btn btn-moss" type="button"><img ng-src="./img/buttons/white_eye.png"/>Experience</button>
                    <button class="speaker-hd-btn btn-moss" type="button"><img ng-src="./img/buttons/white_cart.png"/>Buy</button>
                </div>
            </div>
        <div class="vertLine-bottom"></div>
    </div>

    <!-- COLLECTION ICELAND RELIEF SECTIONS -->
    <div id="collectionIcelandFade" class="collection-iceland-relief-container" scroll-fade-directive>
        <p class="collection-iceland-relief-text">Seydisfjordur</p>
        <img ng-src="../img/collection/iceland_relief.png"/>
    </div>

    <div class="collection-fjordtales-container">
        <h6>Escaping Into Nature</h6>
        <p>Tales from the Fjord</p>
        <h3>Across mountain glaciers, open seas and wind-swept fjords, in one of the most isolated places in Iceland, we discovered artists who have escaped into nature to explore their creativity.</h3>
        <video autoplay loop>
            <source src="../img/collection/loop1.mp4" type="video/mp4">
        </video>
    </div>

    <div class="collection-artist-container">
        <a ui-sref="video1" target="_blank">
            <div class="collection-artist">
                <img class="circle" ng-src="../img/collection/vid1thumb.jpg"/>
                <img class="collection-artist-playbtn" ng-src="../img/collection/playbtn.png"/>
                <h6>The Artist</h6>
                <p class="hvr-underline-from-left">Conni</p>
            </div>
        </a>
        <a ui-sref="video2" target="_blank">
            <div class="collection-artist">
                <img class="circle" ng-src="../img/collection/vid2thumb.jpg"/>
                <img class="collection-artist-playbtn" ng-src="../img/collection/playbtn.png"/>
                <h6>The Noise Artist</h6>
                <p class="hvr-underline-from-left">Nick</p>
            </div>
        </a>
        <a ui-sref="video3" target="_blank">
            <div class="collection-artist">
                <img class="circle" ng-src="../img/collection/vid3thumb.jpg"/>
                <img class="collection-artist-playbtn" ng-src="../img/collection/playbtn.png"/>
                <h6>The Musician</h6>
                <p class="hvr-underline-from-left">Travis</p>
            </div>
        </a>
    </div>

    <!-- COLLECTION STORE SECTION -->
    <div class="collection-store-heading-container">
        <h6>Shop the Products</h6>
        <p>Aw16 Collection</p>
    </div>
    <!-- NG REPEATING SECTION OF PICTURES -->
    <section class="collection-fourpic-section-container">
        <div class="collection-fourpic-container">
            <div class="headphones pic-300-container" ng-repeat="product in products">
                <span class="pic-300-text">{{product.title}}</span>
                <img ng-src="{{product.thumb_image}}"/>
                <div class="pic-300-descbox">
                    <div class="pic-300-descbox-title">
                        <span>{{product.subtitle}}</span>
                    </div>
                    <p class="pic-300-descbox-para">
                        {{product.thumb_description}}
                    </p>
                    <div ui-sref="product({id: product.id})" class="button-container">
                        <div class="button-left"><img class="eye" ng-src="../img/buttons/black_cart.png"/></div>
                        <div class="button-right">usd {{product.price}}</div>
                    </div>
                </div>
            </div>
        </div>

    </section>

</section>
