
<main class="home-wrapper">

    <!-- TOP PIC HERO IMAGE SECTION -->
    <section class="home-hero-top">
        <div ui-sref="collection" class="home-hero-img">
            <!-- <img ng-src="../img/frontpage.jpg"/> -->
        </div>

        <div ui-sref="collection" class="home-hero-text-container">
            <h2>Bring the Beauty Everywhere.</h2>
            <h3>A1 is an ultra-portable Bluetooth speaker. Dust and splash resistant. Designed for life on the go.</h3>
            <div class="hero-price-button-container">
                <h3 class="uppercase inline">Usd <span class="pricing">249</span></h3>
                <div class="hero-button-container">
                    <div class="button-left-white"><img class="eye" ng-src="../img/buttons/black_eye.png"/></div>
                    <div ui-sref="collection" class="button-right-white">experience</div>
                </div>
            </div>
        </div>
    </section>

    <!-- INNER WRAPPER BELOW HERO IMAGE -->
    <div class="home-inner-wrapper">

    <!--TOP 3 PICTURES CONTAINER  MOBILE VIEWS-->
    <section class=" home-collection-container">
            <div class="home-collection-top">
                <div class="home-collection-banner">
                    <img ui-sref="collection" ng-src="../img/AW16_630x300.jpg"/>
                    <div class="home-collection-subtitle">
                        <div class="home-collection-subtitle-title pic-300-descbox-title">
                            <span>Autumn/Winter Collection 2016</span>
                        </div>
                            <p class="home-collection-subtitle-para pic-300-descbox-para">A collection inspired by the colours found in the stark and untamed landscape of Nordic nature.</p>
                            <div class="button-container">
                                <div class="button-left"><img class="eye" ng-src="../img/buttons/black_eye.png"/></div>
                                <div ui-sref="collection" class="button-right">experience</div>
                            </div>
                    </div>
                </div>
            </div>

            <div class="home-collection-store-container">
            <!-- PIC CONTAINER FOR 300PX IMAGES -->
                <div class="h5 pic-300-container">
                    <span class="pic-300-text">H5</span>
                    <img ng-src="../img/h5_black_300x300.png"/>

                    <div class="pic-300-descbox">
                        <div class="pic-300-descbox-title">
                            <span>Wireless Bluetooth Earphones</span>
                        </div>
                        <p class="pic-300-descbox-para">
                            Up to 5 hours of wireless mobility.
                        </p>
                        <div class="button-container">
                            <div class="button-left"><img class="eye" ng-src="../img/buttons/black_cart.png"/></div>
                            <div class="button-right">usd 249</div>
                        </div>
                    </div>
                </div>
                <!-- DISPLAY NONE ON 960 DESKTOP VIEW -->
                <div class="pic-300-container hide">
                    <span class="pic-300-text">Beolit 15</span>
                    <img ng-src="../img/Beolit15Blacklifestyle300x300.jpg"/>

                    <div class="pic-300-descbox">
                        <div class="pic-300-descbox-title">
                            <span>Portable Bluetooth Speakers</span>
                        </div>
                        <p class="pic-300-descbox-para">
                            240 watts of peak power
                        </p>
                        <div class="button-container">
                            <div class="button-left"><img class="eye" ng-src="../img/buttons/black_cart.png"/></div>
                            <div class="button-right">usd 599</div>
                        </div>
                    </div>
                </div>
            </div>
    </section>

    <!--TOP 3 PICTURES CONTAINER DESKTOP VIEWS-->
    <section class=" home-collection-container-desktop">
            <div class="home-collection-top">
                <div class="home-collection-banner">
                    <img ui-sref="collection" ng-src="../img/AW16_630x300.jpg"/>
                    <div class="home-collection-subtitle">
                        <div class="home-collection-subtitle-title pic-300-descbox-title">
                            <span>Autumn/Winter Collection 2016</span>
                        </div>
                            <p class="home-collection-subtitle-para pic-300-descbox-para">A collection inspired by the colours found in the stark and untamed landscape of Nordic nature.</p>
                            <div class="button-container">
                                <div class="button-left"><img class="eye" ng-src="../img/buttons/black_eye.png"/></div>
                                <div ui-sref="collection" class="button-right">experience</div>
                            </div>
                    </div>
                </div>
            </div>

            <div class="home-collection-store-container">
            <!-- PIC CONTAINER FOR 300PX IMAGES -->
                <div class="h5 pic-300-container">
                    <span class="pic-300-text">H5</span>
                    <img ng-src="../img/h5_black_300x300.png"/>

                    <div class="pic-300-descbox">
                        <div class="pic-300-descbox-title">
                            <span>Wireless Bluetooth Earphones</span>
                        </div>
                        <p class="pic-300-descbox-para">
                            Up to 5 hours of wireless mobility.
                        </p>
                        <div class="button-container">
                            <div class="button-left"><img class="eye" ng-src="../img/buttons/black_cart.png"/></div>
                            <div class="button-right">usd 249</div>
                        </div>
                    </div>
                </div>
                 <div class="pic-300-container hide">
                    <span class="pic-300-text">Beolit 15</span>
                    <img ng-src="../img/Beolit15Blacklifestyle300x300.jpg"/>

                    <div class="pic-300-descbox">
                        <div class="pic-300-descbox-title">
                            <span>Portable Bluetooth Speakers</span>
                        </div>
                        <p class="pic-300-descbox-para">
                            240 watts of peak power
                        </p>
                        <div class="button-container">
                            <div class="button-left"><img class="eye" ng-src="../img/buttons/black_cart.png"/></div>
                            <div class="button-right">usd 599</div>
                        </div>
                    </div>
                </div>
            </div>
    </section>

    <!-- POPULAR PRODUCTS MENU SECTION -->
    <section class="home-middle-menu-container">
            <div class="popular-products-container">
                <p class="menu-small-title">Popular Products</p>
            </div>
            <div class="home-middle-menu">
                <div class="home-middle-divider-container">
                    <div class="home-middle-menu-divider">
                        <img ng-src="img/icons/A1.png"/>
                        <p>A1</p>
                    </div>
                    <img ng-src="../img/menu-item.png"/>
                    <div class="home-middle-menu-divider">
                        <img ng-src="img/icons/A2_icon.png"/>
                        <p>A2</p>
                    </div>
                    <img ng-src="../img/menu-item.png"/>
                    <div class="home-middle-menu-divider">
                        <img ng-src="img/icons/beolit15.png"/>
                        <p>Beolit 15</p>
                    </div>
                    <img ng-src="../img/menu-item.png"/>
                    <div class="home-middle-menu-divider">
                        <img ng-src="img/icons/A9_icon.png"/>
                        <p>A9</p>
                    </div>
                </div>
                <!-- DIVIDER BETWEEN THE PRODUCTS MENU -->
                <div class="home-middle-divider-container">
                    <div class="home-middle-menu-divider">
                        <img ng-src="img/icons/H5.png"/>
                        <p>H5</p>
                    </div>
                    <img ng-src="../img/menu-item.png"/>
                    <div class="home-middle-menu-divider">
                        <img ng-src="img/icons/h6.png"/>
                        <p>H6</p>
                    </div>
                    <img ng-src="../img/menu-item.png"/>
                    <div class="home-middle-menu-divider">
                        <img ng-src="img/icons/H7.png"/>
                        <p>H7</p>
                    </div>
                    <img ng-src="../img/menu-item.png"/>
                    <div class="home-middle-menu-divider">
                        <img ng-src="img/icons/H8.png"/>
                        <p>H8</p>
                    </div>
                </div>
            </div>
    </section>

    <!-- VERTICAL PIC OF 3 CONTAINER -->
    <section class="home-middle-picture-container">
            <!-- VERTICAL PICTURE CONTAINER -->
             <div class="pic-300-container-alt h7">
                <span class="pic-300-text">H7</span>
                <img ng-src="../img/H7B300x730.png"/>
                <div class="pic-300-descbox">
                    <div class="pic-300-descbox-title">
                        <span>Wireless over-ear headphones</span>
                    </div>
                    <p class="pic-300-descbox-para">
                        Bluetooth and 20hrs of battery life.
                    </p>
                    <div class="button-container">
                        <div class="button-left"><img class="eye" ng-src="../img/buttons/black_cart.png"/></div>
                        <div class="button-right">usd 399</div>
                    </div>
                </div>
            </div>

            <!-- SIDEBAR PIC CONTAINER -->
                 <div class="sidepic-container">
                    <div class="h3 pic-300-container">
                        <span class="pic-300-text">H3</span>
                        <img ng-src="../img/H3_black_sidebyside_300x300.png"/>

                        <div class="pic-300-descbox">
                            <div class="pic-300-descbox-title">
                                <span>Ultra light in-ear headphones</span>
                            </div>
                            <p class="pic-300-descbox-para">
                                Powerful and authentic sound.
                            </p>
                            <div class="button-container">
                                <div class="button-left"><img class="eye" ng-src="../img/buttons/black_cart.png"/></div>
                                <div class="button-right">usd 149</div>
                            </div>
                        </div>
                    </div>

                    <!-- MOBILE VIEW PIC CONTAINER -->
                    <div class="home-mobile-pic-container">
                        <div class="h8 home-mobile-pic-300-container">
                            <span class="pic-300-text">H8</span>
                            <img ng-src="../img/h8_natural_300x300.png"/>
                        </div>
                        <div class="s3 home-mobile-pic-300-container">
                            <span class="pic-300-text">S3</span>
                            <img ng-src="../img/white300x300.png"/>
                        </div>
                    </div>

                    <!-- HIDDEN ON SMALL MOBILE VIEW -->
                    <div class="pic-300-container-alt">
                        <img ng-src="../img/soundmatters.jpg"/>
                        <div class="pic-300-descbox-alt">
                            <div class="pic-300-descbox-title">
                                <span>A podcast series by Tim Hinman</span>
                            </div>
                            <p class="pic-300-descbox-para">
                                Exploring the sounds of the world around us.
                            </p>
                            <div class="button-container">
                                <div class="button-simple-gray">Listen</div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- HOME SIDEPIC DESKTOP VIEW CONTAINER -->
                 <div class="home-sidepic-container-desktop">
                    <div class="h3 pic-300-container">
                        <img ng-src="../img/h8_natural_300x300.png"/>

                        <div class="pic-300-descbox">
                            <div class="pic-300-descbox-title">
                                <span>Ford and B&O Play Share A Passion</span>
                            </div>
                            <div class="button-container">
                                <div class="button-simple-gray">Learn More</div>
                            </div>
                        </div>
                    </div>
                    <div class="pic-300-container-circle">
                        <img ng-src="../img/beolit15black_300x300.jpg"/>
                        <img class="insta-logo-pic" ng-src="../img/fp_instagram_icon_300x300.png"/>

                        <div class="pic-300-descbox-circle">
                            <div class="pic-300-descbox-title">
                                <span>#Beolit15</span>
                            </div>
                            <p class="pic-300-descbox-para-circle">
                                Designer and art director @annienguyen shares a magical light from her bedroom
                            </p>
                        </div>
                    </div>
                </div>
         </section>

    <!-- TOP 3 PICTURES CONTAINER -->
        <section class="home-collection-container-lifestyle">
            <div class="home-collection-top">
                <div class="home-collection-banner">
                    <span class="pic-300-text">A6</span>
                    <img ng-src="../img/A6_lifestyle_630x300.jpg"/>
                    <div class="collection-subtitle">
                        <div class="collection-subtitle-title pic-300-descbox-title">
                            <span>Fully flexible, to fit your style and daily habits</span>
                        </div>
                            <p class="collection-subtitle-para pic-300-descbox-para">A collection inspired by the colours found in the stark and untamed landscape of Nordic nature.</p>
                            <div class="button-container">
                                <div class="button-left"><img class="eye" ng-src="../img/buttons/black_cart.png"/></div>
                                <div class="button-right">usd 999 </div>
                            </div>
                    </div>
                </div>
            </div>



            <!-- INSTAGRAM AND APPLEWATCH 300PX -->
            <div class="home-collection-store-container2">
            <!-- PIC CONTAINER FOR 300PX IMAGES -->

                 <div class="pic-300-container-circle">
                    <img ng-src="../img/a1_moss.jpg"/>
                    <img class="insta-logo-pic" ng-src="../img/fp_instagram_icon_300x300.png"/>

                    <div class="pic-300-descbox-circle">
                        <div class="pic-300-descbox-title">
                            <span>#BEOPLAYA1</span>
                        </div>
                        <p class="pic-300-descbox-para-circle">
                            Bring the beauty. Everywhere. Photo by @JakobKahlen
                        </p>
                    </div>
                </div>

                <div class="applewatch pic-300-container">
                    <span class="pic-300-text">App</span>
                    <img ng-src="../img/apple_watch_300x300.png"/>

                    <div class="pic-300-descbox">
                        <div class="pic-300-descbox-title">
                            <span>Enhance your b&o play experience</span>
                        </div>
                        <p class="pic-300-descbox-para">
                            Available for iOS and Android.
                        </p>
                        <div class="button-container">
                            <div class="button-simple-gray">Learn More</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- H6 MID PHOTO HIDDEN ON MOBILE VIEW-->
            <section class="home-collection-container-industrial">
                 <div class="home-collection-top">
                     <div class="home-collection-banner">
                         <span class="pic-300-text">H6</span>
                         <img ng-src="../img/h6_mrk2_630x300.jpg"/>
                         <div class="collection-subtitle">
                             <div class="collection-subtitle-title pic-300-descbox-title">
                                 <span>Elegant over-ear headhone with authentic and well-balanced sound</span>
                             </div>
                                 <p class="collection-subtitle-para pic-300-descbox-para">It is an adjustable and ergonomic headphone that is comfortable enough to wear all day long.</p>
                                 <div class="button-container">
                                     <div class="button-left"><img class="eye" ng-src="../img/buttons/black_cart.png"/></div>
                                     <div class="button-right">usd 999 </div>
                                 </div>
                         </div>
                     </div>
                 </div>
             </section>
         </section>


    <!-- VERTICAL PIC OF 3 CONTAINER BOTTOM-->
        <section class="home-middle-picture-container">
            <!-- VERTICAL PICTURE CONTAINER -->
            <div class="pic-300-container-alt h7">
                <span class="pic-300-text">H7</span>
                <img ng-src="../img/a9_oxidizedbrass_300x730.png"/>
                <div class="pic-300-descbox">
                    <div class="pic-300-descbox-title">
                        <span>Luxurious Oxidized Brass Look</span>
                    </div>
                    <p class="pic-300-descbox-para">
                        Different by design.
                    </p>
                    <div class="button-container">
                        <div class="button-left"><img class="eye" ng-src="../img/buttons/black_cart.png"/></div>
                        <div class="button-right">usd 2,849</div>
                    </div>
                </div>
            </div>
            <!-- SIDEBAR PIC CONTAINER -->
                <div class="sidepic-container">
                    <div class="h3 pic-300-container">
                        <img ng-src="../img/ford_300x300.jpg"/>

                        <div class="pic-300-descbox">
                            <div class="pic-300-descbox-title">
                                <span>Ford and B&O Play Share A Passion</span>
                            </div>
                            <div class="button-container">
                                <div class="button-simple-gray">Learn More</div>
                            </div>
                        </div>
                    </div>
                    <div class="pic-300-container-circle">
                        <img ng-src="../img/beolit15black_300x300.jpg"/>
                        <img class="insta-logo-pic" ng-src="../img/fp_instagram_icon_300x300.png"/>

                        <div class="pic-300-descbox-circle">
                            <div class="pic-300-descbox-title">
                                <span>#Beolit15</span>
                            </div>
                            <p class="pic-300-descbox-para-circle">
                                Designer and art director @annienguyen shares a magical light from her bedroom
                            </p>
                        </div>
                    </div>
                </div>
                <!-- HOME SIDEPIC DESKTOP VIEW CONTAINER -->
                 <div class="home-sidepic-container-desktop">
                    <div class="applewatch h3 pic-300-container">
                        <img ng-src="../img/apple_watch_300x300.png"/>

                        <div class="pic-300-descbox">
                            <div class="pic-300-descbox-title">
                                <span>Enhance Your B&O Experience</span>
                            </div>
                            <div class="button-container">
                                <div class="button-simple-gray">Learn More</div>
                            </div>
                        </div>
                    </div>
                    <div class="pic-300-container-circle">
                        <img ng-src="../img/white300x300.png"/>
                        <!-- <img class="insta-logo-pic" ng-src="../img/fp_instagram_icon_300x300.png"/> -->

                        <div class="pic-300-descbox-circle">
                            <div class="pic-300-descbox-title">
                                <span>#Beolit15</span>
                            </div>
                            <p class="pic-300-descbox-para-circle">
                                Designer and art director @annienguyen shares a magical light from her bedroom
                            </p>
                        </div>
                    </div>
                </div>
        </section>

    <!-- FOUR PIC CONTAINER BOTTOM -->
        <section class="home-fourpic-section-container">
            <div class="home-fourpic-container">
                <div class="headphones pic-300-container">
                    <span class="pic-300-text">Headphones</span>
                    <img ng-src="../img/headphone_range_300x300.png"/>

                    <div class="pic-300-descbox">
                        <div class="pic-300-descbox-title">
                            <span>Find the perfect headphone for you</span>
                        </div>
                        <p class="pic-300-descbox-para">
                            Get an overview of the features.
                        </p>
                        <div class="button-container">
                            <div class="button-simple-gray">Compare Now</div>
                        </div>
                    </div>
                </div>


                <!-- MOBILE VIEW PIC CONTAINER -->
                <div class="home-mobile-pic-container">
                    <div class="h8 home-mobile-pic-300-container">
                        <img ng-src="../img/soundmatters.jpg"/>
                    </div>
                    <div class="s3 home-mobile-pic-300-container">
                        <img ng-src="../img/apple_watch_300x300.png"/>
                    </div>
                </div>


                <!-- HIDDEN ON SMALL MOBILE VIEW -->
                <div class="h8 pic-300-container-alt">
                    <span class="pic-300-text">H8</span>
                    <img ng-src="../img/h8_natural_300x300.png"/>

                    <div class="pic-300-descbox">
                        <div class="pic-300-descbox-title">
                            <span>Wireless On-ear Headphones</span>
                        </div>
                        <p class="pic-300-descbox-para">
                            With Active Noise Cancellation.
                        </p>
                        <div class="button-container">
                            <div class="button-left"><img class="eye" ng-src="../img/buttons/black_cart.png"/></div>
                            <div class="button-right">usd 499</div>
                        </div>
                    </div>
                </div>
                <div class="s3 pic-300-container-alt">
                    <span class="pic-300-text">S3</span>
                    <img ng-src="../img/white300x300.png"/>

                    <div class="pic-300-descbox">
                        <div class="pic-300-descbox-title">
                            <span>Powerful and authentic sound</span>
                        </div>
                        <p class="pic-300-descbox-para">
                            Flexible home speaker.
                        </p>
                        <div class="button-container">
                            <div class="button-left"><img class="eye" ng-src="../img/buttons/black_cart.png"/></div>
                            <div class="button-right">usd 299</div>
                        </div>
                    </div>
                </div>
                <div class="pic-300-container">
                    <span class="pic-300-text">Beolit</span>
                    <img ng-src="../img/tokyosound.jpg"/>

                    <div class="pic-300-descbox">
                        <div class="pic-300-descbox-title">
                            <span>Tokyo Sounds</span>
                        </div>
                        <p class="pic-300-descbox-para">
                            Experience the vibations from Japan's capital city.
                        </p>
                        <div class="button-container">
                            <div class="button-simple-gray">Read</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    <!-- LAST PIC CONTAINER -->
        <section class="home-collection-lastpic-container">
            <div class="anc home-collection-banner">
                <img ng-src="../img/anc_detail_630x300.jpg"/>
                <div class="collection-subtitle">
                    <div class="collection-subtitle-title pic-300-descbox-title">
                        <span>Active noise cancellation meets bang & olufsen signature sound</span>
                    </div>
                        <p class="collection-subtitle-para pic-300-descbox-para">Beoplay H3 ANC is a premium Active Noise Cancellation in-ear headphone. Featuring unparalleled comfort, airtight fit and in-line device control.</p>
                        <div class="button-container">
                            <div class="button-left"><img class="eye" ng-src="../img/buttons/black_cart.png"/></div>
                            <div class="button-right">usd 249</div>
                        </div>
                </div>
            </div>
            <div class="home-lastpic-300-container hide">
                <span class="pic-300-text">Beolit 15</span>
                <img ng-src="../img/Beolit15Blacklifestyle300x300.jpg"/>

                <div class="pic-300-descbox">
                    <div class="pic-300-descbox-title">
                        <span>Portable Bluetooth Speakers</span>
                    </div>
                    <p class="pic-300-descbox-para">
                        240 watts of peak power
                    </p>
                    <div class="button-container">
                        <div class="button-left"><img class="eye" ng-src="../img/buttons/black_cart.png"/></div>
                        <div class="button-right">usd 599</div>
                    </div>
                </div>
            </div>
        </section>
    </div>


</main>
