
.product-wrapper {
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
    transition: all .3s;
}

.product-image-container {
    text-align: center;
        img {
            width: 275px;
            max-width: 100%;
        }
        transition: all .3s;
}

.product-rightside-container {
    padding-left: 10px;
}

.product-title-container {
    padding: 10px;
        h2 {
            font-size: 2rem;
            text-transform: none;
            color: $darkGrayText;
        }
}

.product-bottom-border {
    border-bottom: 1px solid lightgray;
    padding-left: 0px;
    width: 95%;
}

.product-description-container {
    padding: 10px;
    margin-bottom: 10px;
        p {
            font-size: .8rem;
            color: $darkGrayText;
            font-weight: 100;
        }
        img {
            margin-right: 5px;
            margin-bottom: 0px;
        }
}

.product-color-container {
    padding: 10px;
    margin-bottom: 10px;
        input[type=checkbox] {
            margin-right: 5px;
        }
        p {
            color: $darkGrayText;
        }
        h4 {
            font-family: 'montserrat', cursive;
            text-transform: uppercase;
            font-size: .8rem;
            color: $headlineColor;
            margin-bottom: 10px;
        }
}

.product-price-container {
    position: relative;
    padding: 10px;
        span {
            font-size:1rem;
            text-transform: uppercase;
        }
        p {
            font-weight: 100;
            color: $darkGrayText;
            font-size: 1.5rem;
        }
}

.product-button-container {
    right: 20px;
    bottom: 4px;
    position: absolute;
    margin: 10px 0px;
}

.product-button-green {
    padding: 4px 20px;
    border: 1px solid $grayText;
    border-radius: 25px;
    text-transform: uppercase;
    font-size: .75rem;
    font-family: 'montserrat', sans-serif;
    background: $headlineColor;
    color: #fff;
}

.product-cart {
    padding: 0 10px 5px 0;
}

/*///////////////////////////////////////////
// MEDIA QUERIES
////////////////////////////////////////////*/

@media (min-width: 550px){
    .product-wrapper {
        width: 70%;
    }
}

@media (min-width: 768px) {
    .product-wrapper {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 100px 0 30px;
        width: 82%;
    }

    .product-image-container {
        margin-right: 50px;
    }

    .product-image-container {
            img {
                width: 300px;
            }
            transition: all .3s;
    }
}

@media (min-width: 1000px) {
    // .product-wrapper {
    //     width: 80%;
    // }
    .product-image-container {
        margin-left: 70px;
        img {
            width: 325px;
        }
    }
}

@media (min-width: 1350px){
    .product-wrapper {
        width: 52%;
    }

    .product-image-container {
        margin-left: 40px;
        img {
            width: 325px;
        }
    }
}
